/* Reset Settings */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Body Styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

nav {
  left: 0;
  right: 0;
  align-items: center;
  background-color: #acd0c0;
  display: flex;
  height: 80px;
  padding: 1rem;
  justify-content: space-between;
}

.logo img {
  height: 79px;
  width: 69px;
}

.links a {
  margin: 0 7px;
  font-family: "Courier New", Courier, monospace;
  color: #31504f;
  text-decoration: none;
}

.links a:hover {
  color: #d9b44a;
}

.active {
  border-bottom: 1px solid #31504f;
}

.active:hover {
  border-bottom: 1px solid #d9b44a;
}

h1 {
  text-align: center;
  color: #31504f;
  font-family: "Courier New", Courier, monospace;
}

p {
  text-align: center;
  color: #31504f;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #75b1a9;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #75b1a9;
}

footer {
  background-color: #acd0c0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact a {
  font-family: "Courier New", Courier, monospace;
  color: #31504f;
  text-decoration: none;
}

.contact a:hover {
  color: #d9b44a;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  margin-top: 5rem;
}

.box {
  border: 3px solid #d9b44a;
  padding: 2rem;
  flex: 1;
  text-align: center;
  color: #75b1a9;
  font-family: "Courier New", Courier, monospace;
}

.box img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

form {
  width: 100%;
  max-width: 500px;
}

label,
input,
textarea {
  width: 100%;
  max-width: 500px;
  margin: 0.5rem 0;
  font-family: "Courier New", Courier, monospace;
}

input,
textarea {
  padding: 0.5rem;
  border: 1px solid #31504f;
  border-radius: 5px;
}

button {
  width: auto;
  background-color: #31504f;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #d9b44a;
}
